html,body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 14px;
  background: #222;
  color: #e3baf8
}

h1,h2 {
  font-weight: 100;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: #e3baf8;
  font-size: 2em;
}